<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>TGAC - Browser</display-name>

    <!-- logging -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.browser.properties</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <!-- JNDI database config -->
    <resource-ref>
        <description>vietnamese_rice DB Connection</description>
        <res-ref-name>jdbc/${browser.urlpath}DB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <!--parameter goes to JSPs starts-->

    <context-param>
        <param-name>pageTitle</param-name>
        <param-value>${browser.title}</param-value>
    </context-param>

    <context-param>
        <param-name>fasta</param-name>
        <param-value>${browser.fasta}</param-value>
    </context-param>

    <context-param>
        <param-name>blast</param-name>
        <param-value>${browser.blast}</param-value>
    </context-param>

    <context-param>
        <param-name>header</param-name>
        <param-value>${browser.header}</param-value>
    </context-param>

    <context-param>
        <param-name>blastdbname</param-name>
        <param-value>${browser.blastdbname}</param-value>
    </context-param>
    <context-param>
        <param-name>blastdblocation</param-name>
        <param-value>${browser.blastdblocation}</param-value>
    </context-param>

    <context-param>
        <param-name>trackfiles</param-name>
        <param-value>${browser.trackfiles}</param-value>
    </context-param>

    <context-param>
        <param-name>urlpath</param-name>
        <param-value>${browser.urlpath}</param-value>
    </context-param>

    <!--<context-param>-->
    <!--<param-name>-->
    <!--javax.servlet.jsp.jstl.sql.dataSource-->
    <!--</param-name>-->

    <!--<param-value> jdbc:mysql://kathmandu.nbi.bbsrc.ac.uk:3306/bianx_viet_rice_v61_browser,com.mysql.jdbc.Driver,tgac,tgac_bioinf </param-value>-->
    <!--</context-param>-->

    <!--parameter goes to JSPs ends-->

    <!-- main servlet declaration -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>uk.ac.bbsrc.tgac.browser.web.BrowserAppListener</listener-class>
    </listener>
    <!--<context-param>-->
        <!--<param-name>webAppRootKey</param-name>-->
        <!--<param-value>vietnamese_rice</param-value>-->
    <!--</context-param>-->

    <servlet>
        <servlet-name>tgacbrowser</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>tgacbrowser</servlet-name>
        <url-pattern>/${browser.urlpath}/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>


</web-app>